*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	// height: 80vh;

	// font-family: "Jomolhari", serif;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 1rem;
	line-height: 2rem;
}
