.wrapper {
	justify-content: center;
	flex: 0 0 40%;
	max-width: 120rem;
}

.header {
	font-size: 1.4rem;
	height: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
